.newPassword {
  display: flex;
  flex-direction: row;
}

.newPasswordImage {
  display: block;
  height: 100vh;
  width: 55vw;
}

.newPasswordSection {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.newPasswordTitle {
  /* color: #336791; */
  margin-bottom: 1.5rem;
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: 0.05rem;
}

.newPasswordDescription {
  width: 27vw;
  text-align: center;
  margin-bottom: 1.5rem;
  letter-spacing: 0.02rem;
}

.newPasswordInput {
    width: 20vw;
    height: 2.5rem;
    padding-left: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 0.2rem;
    border: 2px solid #336791;
}

.newPasswordInput::placeholder {
    font-size: 0.9rem;
}

.newPasswordInput:focus {
    outline: none;
    border: 2px solid #336791;
    box-shadow: 0 0 5px #336791;
}

.reTypeNewPasswordInput {
    width: 20vw;
    height: 2.5rem;
    padding-left: 0.5rem;
    margin-bottom: 1.5rem;
    border-radius: 0.2rem;
    border: 2px solid #336791;
}

.reTypeNewPasswordInput::placeholder {
    font-size: 0.9rem;
}

.reTypeNewPasswordInput:focus {
    outline: none;
    border: 2px solid #336791;
    box-shadow: 0 0 3px #336791;
}

.newPasswordButton {
    height: 2.5rem;
    width: 20vw;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 2rem;
    border-radius: 0.2rem;
    letter-spacing: 0.05rem;
    border: 2px solid #336791;
    background-color: #336791;
}

.newPasswordButton:hover {
    box-shadow: 0 0 7px #336791;
}

.newPasswordButton:focus {
    outline: none;
    border: 2px solid #336791;
    box-shadow: 0 0 7px #336791;
}

.newPasswordRegister {
    color: #336791;
}