.forgotPassword {
  display: flex;
  flex-direction: row;
}

.forgotPasswordImage {
  display: block;
  height: 100vh;
  width: 55vw;
}

.forgotPasswordSection {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.FPTitle {
  /* color: #336791; */
  margin-bottom: 1.5rem;
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: 0.05rem;
}

.FPDescription {
    width: 27vw;
    text-align:center;
    margin-bottom: 1.5rem;
    letter-spacing: 0.02rem;
}

.FPEmail {
    width: 25vw;
    height: 2.5rem;
    padding-left: 0.75rem;
    border-radius: 0.3rem;
    border: 2px solid #336791;
    margin-bottom: 1rem;
}

.FPEmail:focus {
    outline: none;
    border: 2px solid #336791;
    box-shadow: 0 0 3px #336791;
}
.FPEmail::placeholder {
    font-size: 1rem;
}

.FPSendButton {
    width: 25vw;
    height: 2.5rem;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 2rem;
    border-radius: 0.3rem;
    background-color: #336791;
    border: 2px solid #336791;
}

.FPSendButton:focus {
    outline: none;
    border: 2px solid #336791;
    box-shadow: 0 0 5px #336791;
}

.dontHaveAccount {
    letter-spacing: 0.02rem;
}

.createAccount {
    color: #336791;
}